<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101154146531-0o4ml1iivekdc8r6cjv40r9ifdgof8h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101154146531-0o4ml1iivekdc8r6cjv40r9ifdgof8h8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-kUbEAzigkBKmF_6lAubP1gp6R7ihdvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>101154146531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joglik.IChame</string>
	<key>PROJECT_ID</key>
	<string>ichame-89e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>ichame-89e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101154146531:ios:a18a03dafe1e01d4339dd6</string>
</dict>
</plist>